html,body{
  background:url('../public/car.jpg');
  opacity: 0.8;
}

.main{
  border: 2px solid black;
  border-radius: 25px;
  background: white;
  display: inline-table;
  justify-content: center;
  width:280px;
  height: 480px;
  margin-left: 40%;
  margin-top:3%;
  padding:20px;
}

.heading{
  margin-left: 35%;
  margin-top: -2%;
}

.inputs{
  width:90%;
  height: 25px;
}

.show{
  font-size: 12px;
  margin-left: 80%;
  cursor: pointer;
}

.error{
  color:red;
  font-size: 14px;
  font-family: 'Actor';
  font-style: italic;
}

.submit{
  border:1px solid black;
  border-radius: 10px;
  justify-content: center;
  background: blue;
  color:white;
  font-size: 18px;
  font-weight: bold;
  padding:7px;
  cursor:pointer;
  width:93%;
}

.submitText{
  margin-left: 5%;
}

.clear{
  background-color:rgb(110, 22, 37);
  color:white;
  padding:5px;
  border:1px solid pink;
  border-radius:10px;
  font-size: 18px;
  margin-top: 2%;
  cursor: pointer;
}
