html,body{
  background:url('../public/car.jpg');
  opacity: 0.85;
}

.main{
  border: 2px solid black;
  border-radius: 25px;
  background: white;
  display: inline-table;
  justify-content: center;
  width:280px;
  height: 500px;
  margin-left: 40%;
  margin-top:3%;
  padding:20px;

}

.heading{
  margin-left: 30%;
}

.inputs{
  width:90%;
  height: 25px;
}

.error{
  color:red;
  font-size: 14px;
  font-family: 'Actor';
  font-style: italic;
}

.submit{
  border:1px solid black;
  border-radius: 10px;
  justify-content: center;
  background: blue;
  color:white;
  font-weight: bold;
  padding:7px;
  cursor:pointer;
  width:85%;
  margin-top: 10%;

}

.submitText{
  margin-left: 35%;
}
